.add_interviwer {
    float: right;
    font-family: sans-serif;
}
.interviwer_table {
    margin-top: 5rem;
}

.add_candidate {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
    }
}

