@import '../../style/colors.scss';

.email_input {
    display: flex;
    flex-direction: column;

    // &::placeholder {
    //     font-size: 3rem;
    // }
}

.btn_continue {
    width: 18rem;
    height: 2.5rem;
    position: relative;
    top: 1.5rem;
    font-size: 1.2rem;
    font-family: nria Sans;

}



.login_container {
    margin-top: 6rem;
}

.input_email {
    width: 22rem;
    height: 3rem;

    &::placeholder {
        
    }
}

.account {
    position: relative;
    top: 4rem;
    font-family: nria Sans;
    font-size: 1.2rem;
}

.sing_up {
    text-decoration: none;
    font-family: nria Sans;
}