@import '../../../style/colors.scss';

.sidenav{
    background-color: $nav-color;
    width: 300px;
    height: 100vh;
    &__avtar{
        color: $colors-white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        svg{
            height: 60px;
            width: 70px;
        }
    }
    &__navs{
        margin-top: 15px;
        a{
            font-size: 20px;
            color: $colors-white;
            svg{
                margin-right: 10px;
            }

            > &:hover {
                color: rgba(127, 51, 199, 0.87);
            }
        }
    }
}