@import '../../../style/colors.scss';

.sidenav {
    background-color: $nav-color;
    width: 300px;
    height: 100vh;

    &__avtar {
        color: $colors-white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;

        svg {
            height: 60px;
            width: 70px;
        }
    }

    &__navs {
        margin-top: 15px;

        a {
            font-size: 20px;
            color: $colors-white;

            svg {
                margin-right: 10px;
            }

            >&:hover {
                color: rgba(127, 51, 199, 0.87);
            }
        }
    }
}

.inactive{
    width: 250px;
}
.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $nav-color;
}

#sidebar {
    height: inherit;
    margin: 2rem;
    text-align: left;
}

#sidebar ul li a {
    margin-left: .5rem;
    color: #e9e9ea;
}

#sidebar .list-item {
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 600;

    svg {
        color: $colors-white;
    }
}

#sidebar li a {
    text-decoration: none;
    padding-left: .5rem;
}

.icon-color {
    color: #738a9b;
}

.btn-custom {
    background-color: #c4b9b9;
    border-radius: 50%;
    color: $colors-white;
    font-weight: 600;
    position: absolute;
    top: .5rem;
    right: 1.3rem;

    span {
        color: $colors-white;
    }
}

.sidebar-header {
    margin-top: 4rem;
    text-align: center;
    color: #e9e9ea;

    svg {
        height: 45px;
        width: 45px;
    }
}

.collapse {
    display: none;
}

#sidebar.active .sidebar-header {
    h3 {
        display: none
    }

    ;

    svg {
        height: 20px;
        width: 20px;
    }
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    display: none;
}

#sidebar.active ul li i {
    display: block;
}

.hidden {
    display: none;
}

.schedule {
    position: relative;
    left: 33px;
}


@media (max-width: 768px) {
    #sidebar.active {
        width: 50px;
        text-align: center;
        margin: 0;
    }

    #sidebar {
        margin: 1rem;
    }

    #sidebarCollapse {
        right: .5rem;
    }

    #sidebar.active .sidebar-header {
        h3 {
            display: none
        }

        ;

        svg {
            height: 20px;
            width: 20px;
        }
    }
}