
.container_class {
    display: flex;
    >.sidebar {
        width: 30%;
        background-color: #212364;
        height: 100vh;

        > .middle {
            background: rgba(255, 255, 255, 0.17);
            height: 80vh;
            width: 90%;
            border-radius: 5px 5px 0px 0px;
            margin: 3rem 0 0 4rem;

            > .fields {
                position: relative;
                    top: 8%;
                > .headings {
                    // width: 100%;
                    
                    padding: 2rem;
                    color: #ffffff;
                    > h1 
                    {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .main_content {
        width: 70%;
    }
}


@media screen and (max-width: 375px) {
        .container_class {
            > .sidebar {
                > .middle {
                    width: 100%;
                    position: relative;
                    right: 4rem;

                    > .fields {
                        > .headings {
                            font-size: 3rem;
                            padding: 0;
                        }
                    }
                }
            }
        }
}