@import '../../style/colors.scss';


.main {
    margin: 2rem;
}
.heading {
    margin-left: 4.2rem;
    font-family: sans-serif;
}
.interview_schedule {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.btn_submit {
    position: relative;
    top: 1rem;
    background-color: #212364;
    font-family: 'Mate SC';
    color: FFFFFF;
}
.btn_submit:hover {
    background-color: #383ca6;
}

.textarea {
    position: relative;
    outline: none;
}

textarea::placeholder {
font-family: 'Mate SC';
font-style: normal;
font-weight: 400;
font-size: 18px;
outline: none;
padding: 5px;
}


.date_picker {
    display: flex;
    position: relative;
    top: 1rem;
    height: 50px;
    // cursor: pointer;
}

.card_title {
font-family: 'Mate SC';
font-style: normal;
font-weight: 400;
font-size: 29px;
position: relative;
bottom: 1.5rem;
text-align: center;
}

.hours {
    position: relative;
    right: 10px;
    cursor: pointer;
}

.selcet_tag {
    width: 3.2rem;
    position: relative;
    bottom: 38px;
    font-family: sans-serif;
    
}
.select_tag_timing {
    width: 3.2rem;
    position: relative;
    bottom: 38px;
    font-family: sans-serif;
    
}

.time {
    position: relative;
    bottom: 25px;
    font-family: 'Mate SC';
font-style: normal;
font-weight: 400;
}
.date {
    position: relative;
    bottom: 1.5rem;
    left: 2.1rem;
    font-family: 'Mate SC';
    font-style: normal;
    font-weight: 400;
}

.message {
    font-family: 'Mate SC';
    font-style: normal;
    font-weight: 400;
    position: relative;
    top: 0.7rem;
}
