@use '../../style/mixins.scss';
@import '../../style/colors.scss';

.adminPanel{
    overflow: hidden;
    &__heading{
        @include mixins.page-header(25px,300px);
    }
    &__container{
        justify-content: space-evenly;
    }
    &__box{
        background-color: $nav-color;
        padding: 10px;
        border-radius: 0px 15px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        svg{
            color: $colors-white;
            font-size: 30px;
        }
        &__text{
            color: $colors-white;
            margin-left: 15px;
        }
        &__count{
            display: flex;
            justify-content: end;
            margin-top: 5px;
        }
    }
}